.maincontainer{
    display: flex;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
.lft{
    display: flex;
    list-style-type: none;
    margin-right: auto;
}
.right{
    display: flex;
    list-style-type: none;
    margin-left: auto;
}